# ğŸ§© W7 Titanic Data Preprocessing

æ­¤ Notebook å¹«åŠ©ä½ é€æ­¥å®Œæˆ Titanic è³‡æ–™å‰è™•ç†ä½œæ¥­ã€‚

- æ¯å€‹ä»»å‹™å°æ‡‰ `template.py` ä¸­çš„ä¸€å€‹å‡½å¼ã€‚
- å®Œæˆå¾Œï¼Œè«‹å°‡ç¨‹å¼è¤‡è£½å› `submit/W7_<å­¸è™Ÿ>.py`ã€‚
- å¯åœ¨æ­¤ Notebook ç›´æ¥æ¸¬è©¦çµæœæ˜¯å¦æ­£ç¢ºã€‚

---

## ä»»å‹™ 1ï¸âƒ£ï¼šè¼‰å…¥è³‡æ–™ (load_data)

**ç›®æ¨™ï¼š**
- è®€å– `data/titanic.csv`
- å°‡æ¬„ä½åç¨±çµ±ä¸€ç‚ºé¦–å­—æ¯å¤§å¯«ï¼ˆä¾‹å¦‚ï¼š`age` â†’ `Age`ï¼‰
- å›å‚³è³‡æ–™ DataFrame èˆ‡ç¼ºå¤±å€¼ç¸½æ•¸

In [ ]:
import pandas as pd
import numpy as np

# TODO 1.1: è®€å– CSV
# TODO 1.2: çµ±ä¸€æ¬„ä½é¦–å­—æ¯å¤§å¯«ï¼Œä¸¦è¨ˆç®—ç¼ºå¤±å€¼æ•¸é‡
df = None
df.columns = [c.capitalize() for c in df.columns]
missing_count = None

print('ç¼ºå¤±å€¼ç¸½æ•¸:', missing_count)
df.head()

ç¼ºå¤±å€¼ç¸½æ•¸: 39

   Survived  Pclass     Sex   Age  Sibsp  Parch     Fare Embarked
0         1       3    male   NaN      1      1  15.2458        C
1         0       2    male  31.0      0      0  10.5000        S
2         0       3    male  20.0      0      0   7.9250        S
3         1       2  female   6.0      0      1  33.0000        S
4         1       3  female  14.0      1      0  11.2417        C

âœ… **æª¢æŸ¥é»ï¼š**
- æ¬„ä½ä¸­æ‡‰è©²åŒ…å« `Age`, `Fare`, `Embarked` ç­‰ã€‚
- ç¼ºå¤±å€¼æ•¸é‡æ‡‰ç‚ºæ•´æ•¸ã€‚

## ä»»å‹™ 2ï¸âƒ£ï¼šè™•ç†ç¼ºå¤±å€¼ (handle_missing)

**ç›®æ¨™ï¼š**
- ç”¨ `Age` çš„ä¸­ä½æ•¸å¡«è£œç¼ºå¤±å€¼
- ç”¨ `Embarked` çš„çœ¾æ•¸å¡«è£œç¼ºå¤±å€¼

**æç¤ºï¼š** ä½¿ç”¨ `fillna()`ã€`median()`ã€`mode()[0]`

In [ ]:
# TODO 2.1: ä»¥ Age ä¸­ä½æ•¸å¡«è£œ
# TODO 2.2: ä»¥ Embarked çœ¾æ•¸å¡«è£œ

df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Sibsp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

âœ… **æª¢æŸ¥é»ï¼š**
- `Age`ã€`Embarked` æ¬„ä½ä¸æ‡‰å†æœ‰ NaNã€‚

## ä»»å‹™ 3ï¸âƒ£ï¼šç§»é™¤ç•°å¸¸å€¼ (remove_outliers)

**ç›®æ¨™ï¼š**
- ç§»é™¤ `Fare` è¶…é å¹³å‡ + 3 Ã— æ¨™æº–å·® çš„è³‡æ–™ã€‚

**æç¤ºï¼š** `mean()`ã€`std()`ã€å¸ƒæ—æ¢ä»¶ç¯©é¸ã€‚

In [ ]:
# TODO 3.1: è¨ˆç®— Fare å¹³å‡èˆ‡æ¨™æº–å·®
# TODO 3.2: ç§»é™¤ Fare > mean + 3*std


print('ç­†æ•¸:', len(df))

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(5,3))
plt.boxplot(df['Fare'])
plt.title('Fare Boxplot (After Outlier Removal)')
plt.show()

âœ… **æª¢æŸ¥é»ï¼š**
- Boxplot ä¸­æ‡‰ç„¡æ¥µç«¯é«˜åƒ¹ç¥¨ã€‚

## ä»»å‹™ 4ï¸âƒ£ï¼šé¡åˆ¥è®Šæ•¸ç·¨ç¢¼ (encode_features)

**ç›®æ¨™ï¼š**
- å° `Sex` å’Œ `Embarked` é€²è¡Œ One-hot ç·¨ç¢¼ã€‚
- ä¸è¦åˆªé™¤ç¬¬ä¸€å€‹æ¬„ä½ï¼ˆ`drop_first=False`ï¼‰ã€‚

**æç¤ºï¼š** ä½¿ç”¨ `pd.get_dummies()`ã€‚

In [ ]:
# TODO 4.1: ä½¿ç”¨ pd.get_dummies å° Sexã€Embarked é€²è¡Œç·¨ç¢¼
df = None

df.head()

âœ… **æª¢æŸ¥é»ï¼š**
- æ¬„ä½ä¸­æ‡‰åŒ…å« `Sex_female`, `Sex_male`, `Embarked_S`ã€‚

## ä»»å‹™ 5ï¸âƒ£ï¼šæ•¸å€¼æ¨™æº–åŒ– (scale_features)

**ç›®æ¨™ï¼š**
- ä½¿ç”¨ `StandardScaler` æ¨™æº–åŒ– `Age`ã€`Fare`ã€‚

**æç¤ºï¼š** `scaler.fit_transform()`ã€‚

In [ ]:
from sklearn.preprocessing import StandardScaler

# TODO 5.1: ä½¿ç”¨ StandardScaler æ¨™æº–åŒ– Ageã€Fare
df = None

df[['Age', 'Fare']].describe()

âœ… **æª¢æŸ¥é»ï¼š**
- Age èˆ‡ Fare çš„å¹³å‡æ‡‰æ¥è¿‘ 0ï¼Œæ¨™æº–å·®æ‡‰æ¥è¿‘ 1ã€‚

## ä»»å‹™ 6ï¸âƒ£ï¼šè³‡æ–™åˆ‡å‰² (split_data)

**ç›®æ¨™ï¼š**
- å°‡ `Survived` ä½œç‚º yï¼Œå…¶é¤˜æ¬„ä½ä½œç‚º Xã€‚
- ä½¿ç”¨ `train_test_split`ï¼Œæ¸¬è©¦é›†æ¯”ä¾‹ 0.2ã€‚

**æç¤ºï¼š** è¨­å®š `random_state=42`ã€‚

In [ ]:
from sklearn.model_selection import train_test_split

# TODO 6.1: å°‡ Survived ä½œç‚º yï¼Œå…¶é¤˜ç‚º X
# TODO 6.2: ä½¿ç”¨ train_test_split åˆ‡å‰² (test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test = None

print('è¨“ç·´é›†ç­†æ•¸:', len(X_train))
print('æ¸¬è©¦é›†ç­†æ•¸:', len(X_test))

âœ… **æª¢æŸ¥é»ï¼š**
- æ¸¬è©¦é›†æ‡‰ç´„ä½” 20%ã€‚

## ä»»å‹™ 7ï¸âƒ£ï¼šè¼¸å‡ºçµæœ (save_data)

**ç›®æ¨™ï¼š**
- å°‡æ¸…ç†å¾Œè³‡æ–™è¼¸å‡ºç‚º `data/titanic_processed.csv`
- ä½¿ç”¨ `encoding='utf-8-sig'`ã€‚

In [ ]:
# TODO 7.1: å°‡æ¸…ç†å¾Œè³‡æ–™è¼¸å‡ºç‚º CSV (encoding='utf-8-sig')

print('âœ… è³‡æ–™è™•ç†å®Œæˆä¸¦å·²è¼¸å‡ºè‡³ data/titanic_processed.csv')